* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1650px;
  /*padding: 0 15px;*/
  margin: auto;
}

.certificate-image__buttons-mobile {
  display: none;
}

.certificate-image {
  background: #323232;
  padding-top: 50px;
}
.certificate-image-title {
  font-weight: 400;
  font-size: 50px;
  color: #cdaf62;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 830px) {
  .certificate-image-title {
    margin-bottom: 100px;
  }
}
@media (max-width: 700px) {
  .certificate-image-title {
    margin-bottom: 30px;
    font-size: 36px;
  }
}
@media (max-width: 560px) {
  .certificate-image-title {
    font-size: 20px;
  }
}

.certificate-image__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1620px;
  margin: auto;
}
@media (max-width: 1670px) {
  .certificate-image__box {
    width: 1400px;
  }
}
@media (max-width: 1440px) {
  .certificate-image__box {
    width: 1100px;
  }
}
@media (max-width: 1150px) {
  .certificate-image__box {
    width: 800px;
  }
}
@media (max-width: 830px) {
  .certificate-image__box {
    justify-content: space-around;
    width: 670px;
  }
}
@media (max-width: 700px) {
  .certificate-image__box {
    width: auto;
    overflow: hidden;
  }
}

.certificate-image__box-item {
  max-width: 347px;
}
@media (max-width: 1440px) {
  .certificate-image__box-item {
    max-width: 250px;
  }
}
@media (max-width: 1150px) {
  .certificate-image__box-item {
    max-width: 180px;
  }
}
@media (max-width: 830px) {
  .certificate-image__box-item {
    max-width: 120px;
  }
}
@media (max-width: 700px) {
  .certificate-image__box-item {
    max-width: 300px;
  }
}
@media (max-width: 560px) {
  .certificate-image__box-item {
    max-width: 350px;
  }
}

.certificate-image__box-image {
  width: 347px;
  height: 348px;
  object-fit: cover;
}
@media (max-width: 1440px) {
  .certificate-image__box-image {
    width: 250px;
    height: 251px;
  }
}
@media (max-width: 1150px) {
  .certificate-image__box-image {
    width: 180px;
    height: 181px;
  }
}
@media (max-width: 830px) {
  .certificate-image__box-image {
    width: 120px;
    height: 121px;
  }
}
@media (max-width: 700px) {
  .certificate-image__box-image {
    width: 300px;
    height: 301px;
    animation: fadeIn 0.5s ease;
  }
}
@media (max-width: 560px) {
  .certificate-image__box-image {
    width: 223px;
    height: 223px;
  }
}

.certificate-image__box-image.certificate-image__box-image_scale {
  width: 400px;
  height: 534px;
}
@media (max-width: 1440px) {
  .certificate-image__box-image.certificate-image__box-image_scale {
    width: 300px;
    height: 434px;
  }
}
@media (max-width: 1150px) {
  .certificate-image__box-image.certificate-image__box-image_scale {
    width: 230px;
    height: 344px;
  }
}
@media (max-width: 830px) {
  .certificate-image__box-image.certificate-image__box-image_scale {
    width: 180px;
    height: 244px;
    margin-left: -20px;
  }
}
@media (max-width: 700px) {
  .certificate-image__box-image.certificate-image__box-image_scale {
    width: 300px;
    height: 300px;
    margin-left: 0;
  }
}
@media (max-width: 560px) {
  .certificate-image__box-image.certificate-image__box-image_scale {
    margin-left: 0;
    width: 223px;
    height: 223px;
  }
}

.certificate-image__buttons {
  display: flex;
  justify-content: center;
  column-gap: 80px;
  align-items: center;
  margin-top: 50px;
  display: none;
}
@media (max-width: 560px) {
  .certificate-image__buttons-icon {
    display: none;
  }
  .certificate-image__buttons-mobile {
    display: block;
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 700px) {
  .certificate-image__buttons {
    display: flex;
  }
}

.certificate-image__buttons-prev {
  border-radius: 100%;
  padding-top: 3px;
  padding-left: 7px;
}
.certificate-image__buttons-next {
  border-radius: 100%;
  padding-top: 3px;
  padding-left: 7px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
