/* =----------------------------------modal----------------------- */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(-40px);
}

.timer-message-formPopup {
  background: #5ad84a;
  margin-top: 10px;
  color: white;
  display: none;
  text-align: center;
  padding: 7px 7px;
  max-width: 350px;
}

.success-message-formPopup {
  background: #5ad84a;
  margin-top: 10px;
  color: white;
  display: none;
  text-align: center;
  padding: 7px 7px;
  max-width: 350px;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
  z-index: 5;
  transform: translateY(0px);
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: 0.5s;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}
.modal__inner {
  width: 560px;
  /*min-height: 912px;*/
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* margin: 405px 0 85px 0;*/
  top: 30px;
  /* cursor: initial; */
  z-index: 5;
  padding: 0px 0px 50px 0;
}

.registration__formRegisterButton-formPopup_valid {
  background: #c9a96e;
  color: #fff;
}

.modal__form-button {
  width: 400px;
  height: 74px;
  background: #cdaf62;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}

.registration__formRegisterButton-formPopup_disabled {
  border: 1px solid #9c8d8d;
  background-color: #fff;
  color: #494646;
  cursor: not-allowed;
}

.registration__formRegisterButton-formPopup_disabled:hover {
  border: 1px solid #9c8d8d;
  background-color: #fae6e6;
  color: #494646;
  cursor: not-allowed;
}
@media (max-width: 1880px) {
  .modal__form-button {
    margin-top: 15px;
    height: 66px;
  }
}
@media (max-width: 1536px) {
  .modal__form-button {
    width: 430px;
    font-size: 30px;
    height: 62px;
    margin-top: 30px;
  }
}
@media (max-width: 1280px) {
  .modal__form-button {
    width: 380px;
    height: 52px;
    font-size: 27px;
  }
}
@media (max-width: 1240px) {
  .modal__form-button {
    width: 421px;
    height: 55px;
    font-size: 25px;
    margin-top: 30px;
  }
}
@media (max-width: 834px) {
  .modal__form-button {
    width: 328px;
    height: 51px;
    font-size: 24px;
    margin-top: 20px;
  }
}
@media (max-width: 620px) {
  .modal__form-button {
    width: 260px;
    height: 45px;
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .modal__form-button {
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
  }
}

.modal__form-input-error {
  border: 1px solid #ff0000;
}

.modal__form-item-input::placeholder {
  color: red;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 620px) {
  .modal__form-item-input::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .modal__form-item-input::placeholder {
    font-size: 12px;
  }
}

.modal__form-item-input {
  border: 1px solid #beb6b6;
  width: 400px;
  height: 53px;
  padding: 0px 0px 0px 15px;
  font-size: 32px;
  outline: none;
  color: rgba(0, 0, 0, 0.4);
  background-color: #f0f0f0;
  border-radius: 4px;
}

.modal__form-item-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 360px) {
  .modal__form-item-input::placeholder {
    font-size: 12px;
  }
}

.modal__form-item-input:focus {
  background-color: #d8d1d1;
}

.modal__form-input-error {
  border: 1px solid #ff0000;
}

@media (max-width: 1536px) {
  .modal__form-item-input {
    width: 430px;
    height: 42px;
    font-size: 27px;
  }
}
@media (max-width: 1280px) {
  .modal__form-item-input {
    width: 380px;
    height: 38px;
    font-size: 25px;
  }
}
@media (max-width: 1240px) {
  .modal__form-item-input {
    width: 421px;
    height: 45px;
    font-size: 25px;
  }
}
@media (max-width: 834px) {
  .modal__form-item-input {
    width: 329px;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 22px;
  }
}
@media (max-width: 620px) {
  .modal__form-item-input {
    width: 260px;
    height: 35px;
    font-size: 18px;
  }
  .modal__form-item-input::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 360px) {
  .modal__form-item-input {
    /*width: 200px;*/
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 1880px) {
  .modal__inner {
    width: 500px;
    /* min-height: 800px;*/
    padding: 0px 0px 40px 0;
  }
}
@media (max-width: 1536px) {
  .modal__inner {
    /* min-height: 700px;*/
    padding: 0px 0px 40px 0;
  }
}
@media (max-width: 1280px) {
  .modal__inner {
    /* min-height: 600px;*/
    padding: 0px 0px 40px 0;
  }
}
@media (max-width: 1240px) {
  .modal__inner {
    /* min-height: 700px;*/
    padding: 0px 0px 20px 0;
  }
}

@media (max-width: 900px) {
  .modal__inner {
    top: 70px;
  }
}
@media (max-width: 834px) {
  .modal__inner {
    /* min-height: 698px;*/
    padding: 0px 0px 20px 0;
    /* margin: 100px 0 40px 0;*/
    top: 190px;
  }
}
@media (max-width: 620px) {
  .modal__inner {
    width: 383px;
    top: 120px;
    /*  min-height: 498px;*/
    padding: 0px 0px 20px 0;
  }
}

@media (max-width: 420px) {
  .modal__inner {
    width: 350px;
    /* min-height: 350px;*/
    padding: 0px 0px 20px 0;
    margin: 40px 0;
  }
}

@media (max-width: 360px) {
  .modal__inner {
    width: 300px;
    /* min-height: 350px;*/
    padding: 0px 0px 20px 0;
    margin: 40px 0;
  }
}

.modal__header {
  display: flex;
  width: 100%;
  column-gap: 100px;
  justify-content: center;
  align-items: center;
  background: #323232;
  padding: 50px 0 36px 0;
}
@media (max-width: 1536px) {
  .modal__header {
    padding: 30px 0;
    column-gap: 30px;
  }
}
@media (max-width: 1280px) {
  .modal__header {
    padding: 20px 0px;
  }
}
@media (max-width: 1240px) {
  .modal__header {
    column-gap: 25px;
    padding: 20px 0px;
  }
}
@media (max-width: 834px) {
  .modal__header {
    column-gap: 34px;
    padding: 29px 0px;
  }
}
@media (max-width: 620px) {
  .modal__header {
    column-gap: 20px;
    padding: 20px 0px;
  }
}
@media (max-width: 360px) {
  .modal__header {
    column-gap: 15px;
    padding: 15px 0px;
  }
}

.modal__header-logo-img {
  width: 130px;
}
@media (max-width: 1536px) {
  .modal__header-logo-img {
    width: 130px;
  }
}
@media (max-width: 1280px) {
  .modal__header-logo-img {
    width: 100px;
  }
}
@media (max-width: 1240px) {
  .modal__header-logo img {
    width: 130px;
  }
}

@media (max-width: 620px) {
  .modal__header-logo img {
    width: 80px;
  }
}
@media (max-width: 360px) {
  .modal__header-logo img {
    width: 52px;
  }
}

.modal__header-text {
  font-weight: 400;
  font-size: 26px;
  color: #cdaf62;
}
@media (max-width: 1536px) {
}

@media (max-width: 834px) {
  .modal__header-text {
    font-size: 24px;
  }
}
@media (max-width: 620px) {
  .modal__header-text {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .modal__header-text {
    font-size: 14px;
  }
}

.modal__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}
@media (max-width: 1880px) {
  .modal__description {
    margin-top: 30px;
  }
}
@media (max-width: 1536px) {
  .modal__description {
    margin-top: 25px;
  }
}
@media (max-width: 1280px) {
  .modal__description {
    margin-top: 10px;
  }
}
@media (max-width: 1240px) {
  .modal__description {
    margin-top: 20px;
  }
}
@media (max-width: 834px) {
  .modal__description {
    margin-top: 45px;
  }
}
@media (max-width: 620px) {
  .modal__description {
    margin-top: 10px;
  }
}
@media (max-width: 360px) {
  .modal__description {
    margin-top: 15px;
  }
}

.modal__description-title {
  font-weight: 400;
  font-size: 36px;
  color: #3e414b;
  margin-bottom: 15px;
}
@media (max-width: 1536px) {
  .modal__description-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 1280px) {
  .modal__description-title {
    font-size: 31px;
  }
}
@media (max-width: 1240px) {
  .modal__description-title {
    margin-bottom: 10px;
  }
}

@media (max-width: 620px) {
  .modal__description-title {
    font-size: 26px;
  }
}
@media (max-width: 360px) {
  .modal__description-title {
    font-size: 16px;
  }
}

.modal__description-subtitle {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 620px) {
  .modal__description-subtitle {
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .modal__description-subtitle {
    font-size: 14px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 63px;
}
@media (max-width: 1880px) {
  .modal__form {
    margin-top: 24px;
  }
}
@media (max-width: 1536px) {
  .modal__form {
    margin-top: 40px;
  }
}
@media (max-width: 1280px) {
  .modal__form {
    margin-top: 20px;
  }
}
@media (max-width: 1240px) {
  .modal__form {
    margin-top: 40px;
  }
}
@media (max-width: 834px) {
  .modal__form {
    margin-top: 35px;
  }
}
@media (max-width: 620px) {
  .modal__form {
    margin-top: 20px;
  }
}
@media (max-width: 360px) {
  .modal__form {
    margin-top: 12px;
  }
}

.modal__form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
@media (max-width: 1880px) {
  .modal__form-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 1536px) {
  .modal__form-item {
    margin-bottom: 15px;
  }
}
@media (max-width: 1280px) {
  .modal__form-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 1240px) {
  .modal__form-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 834px) {
  .modal__form-item {
    margin-bottom: 20px;
  }
}
@media (max-width: 620px) {
  .modal__form-item {
    margin-bottom: 15px;
  }
}
@media (max-width: 360px) {
  .modal__form-item {
    margin-bottom: 10px;
  }
}

.modal__form-item-text {
  font-weight: 400;
  font-size: 22px;
  color: #cdaf62;
  margin-bottom: 12px;
}

@media (max-width: 620px) {
  .modal__form-item-text {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (max-width: 360px) {
  .modal__form-item-text {
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.modal__form-item-inp {
  border: 1px solid #000;
  width: 476px;
  height: 53px;
  padding: 0px 0px 0px 15px;
  font-size: 32px;
  outline: none;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1536px) {
  .modal__form-item-inp {
    width: 430px;
    height: 42px;
    font-size: 27px;
  }
}
@media (max-width: 1280px) {
  .modal__form-item-inp {
    width: 380px;
    height: 38px;
    font-size: 25px;
  }
}
@media (max-width: 1240px) {
  .modal__form-item-inp {
    width: 421px;
    height: 45px;
    font-size: 25px;
  }
}
@media (max-width: 834px) {
  .modal__form-item-inp {
    border: 0.69px solid #000;
    width: 329px;
    height: 40px;
    padding: 0 0 0 10px;
    font-size: 22px;
  }
}
@media (max-width: 620px) {
  .modal__form-item-inp {
    width: 260px;
    height: 35px;
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .modal__form-item-inp {
    width: 200px;
    height: 30px;
    font-size: 12px;
  }
}

.modal__form-item-inp::placeholder {
  font-weight: 400;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.4);
}
@media (max-width: 1536px) {
  .modal__form-item-inp::placeholder {
    font-size: 27px;
  }
}
@media (max-width: 1280px) {
  .modal__form-item-inp::placeholder {
    font-size: 22px;
  }
}
@media (max-width: 1240px) {
  .modal__form-item-inp::placeholder {
    font-size: 25px;
  }
}
@media (max-width: 834px) {
  .modal__form-item-inp::placeholder {
    font-size: 22px;
  }
}
@media (max-width: 620px) {
  .modal__form-item-inp::placeholder {
    font-size: 18px;
  }
}
@media (max-width: 360px) {
  .modal__form-item-inp::placeholder {
    font-size: 12px;
  }
}

.modal__form-btn {
  width: 476px;
  height: 74px;
  background: #cdaf62;
  font-weight: 400;
  font-size: 36px;
  color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}
@media (max-width: 1880px) {
  .modal__form-btn {
    margin-top: 15px;
    height: 66px;
  }
}
@media (max-width: 1536px) {
  .modal__form-btn {
    width: 430px;
    font-size: 30px;
    height: 62px;
    margin-top: 30px;
  }
}
@media (max-width: 1280px) {
  .modal__form-btn {
    width: 380px;
    height: 52px;
    font-size: 27px;
  }
}
@media (max-width: 1240px) {
  .modal__form-btn {
    width: 421px;
    height: 55px;
    font-size: 25px;
    margin-top: 30px;
  }
}
@media (max-width: 834px) {
  .modal__form-btn {
    width: 328px;
    height: 51px;
    font-size: 24px;
    margin-top: 20px;
  }
}
@media (max-width: 620px) {
  .modal__form-btn {
    width: 260px;
    height: 45px;
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .modal__form-btn {
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-top: 10px;
  }
}

.modal-close {
  position: absolute;
  right: -30px;
  top: -70px;
  width: 30px;
  height: 30px;
  text-align: center;
  padding-top: 25px;
  cursor: pointer;
  transition: 0.3s;
}
.modal-close:hover {
  opacity: 0.6;
}
@media (max-width: 1536px) {
  .modal-close {
    width: 30px;
    height: 30px;
    padding-top: 18px;
    top: -60px;
  }
}
@media (max-width: 1280px) {
  .modal-close {
    width: 30px;
    height: 30px;
    padding-top: 15px;
    right: -30px;
    top: -60px;
  }
}
@media (max-width: 1240px) {
  .modal-close {
    right: -50px;
    top: -70px;
    width: 80px;
    height: 80px;
    padding-top: 20px;
  }
}
@media (max-width: 920px) {
  .modal-close {
    right: -60px;
  }
}
@media (max-width: 834px) {
  .modal-close {
    right: -50px;
    top: -50px;
  }
}
@media (max-width: 674px) {
  .modal-close {
    right: -40px;
    top: -50px;
  }
}
@media (max-width: 410px) {
  .modal-close {
    right: -30px;
    top: -60px;
  }
}
@media (max-width: 360px) {
  .modal-close {
    right: -50px;
    top: -50px;
  }
}

@media (max-width: 346px) {
  .modal-close {
    right: -30px;
    top: -50px;
  }
}

.modal-close img {
  width: 30px;
}
@media (max-width: 1536px) {
  .modal-close img {
    width: 30px;
  }
}
@media (max-width: 1280px) {
  .modal-close img {
    width: 30px;
  }
}
@media (max-width: 1240px) {
  .modal-close img {
    width: 30px;
  }
}
@media (max-width: 834px) {
  .modal-close img {
    width: 20px;
  }
}
@media (max-width: 410px) {
  .modal-close img {
    width: 20px;
  }
}
@media (max-width: 360px) {
  .modal-close img {
    width: 20px;
  }
}
