.services {
  padding: 60px 0;
}

/* Tabs */
.tabs {
  width: 1340px;
  height: 90px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 9px;
}

.tabs__nav {
  height: inherit;
}

.tabs__list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: inherit;
  border-bottom: 1px solid #e0e0e0;
  align-items: stretch;
}

.tabs__item {
  flex: 1;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs__link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-family: "Lora";
  font-size: 18px;
  line-height: 33.28px;
  font-weight: 400;
  text-align: center;
  transition: color 0.3s ease;
}

.tabs__link_active {
  background-color: #c9a96e;
  color: white;
}

.viewer {
  width: 1340px;
  margin: auto;
  min-height: 300px;
  padding: 60px;
}

.viewer__pane {
  display: none;
  animation: fadeIn 0.5s ease;
}

.viewer__pane_active {
  display: block;
}

/* Info Block */
.info-block {
  margin-bottom: 40px;
}

.info-block:last-child {
  margin-bottom: 0;
}

.info-block__title {
  color: #cdaf62;
  font-family: "Lora";
  font-size: 64px;
  line-height: normal;
  font-weight: 400;
  padding: 90px 0;
  text-align: center;
}

.info-block__text {
  color: #ffffff;
  font-family: "Lora";
  font-size: 32px;
  line-height: 45.95px;
  font-weight: 400;
  text-align: center;
}

.info-block__list {
  padding-left: 20px;
}

.info-block__item {
  color: #333333;
  font-family: "Lora";
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
  padding-left: 20px;
}

.info-block__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 12px;
  width: 8px;
  height: 8px;
  background-color: #c9a96e;
  border-radius: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1366px) {
  .tabs {
    width: 100%;
  }

  .viewer {
    width: 100%;
  }
}

@media (max-width: 834px) {
  .services .container {
    max-width: 84%;
  }

  .tabs {
    width: 100%;
    height: 77px;
  }

  .viewer {
    width: 100%;
    padding: 0 70px;
  }

  .tabs__link {
    font-size: 15px;
    line-height: 21px;
  }

  .info-block__title {
    padding: 20px 0;
    font-size: 36px;
  }

  .info-block__text {
    font-size: 16px;
    line-height: 22px !important;
  }
}

@media (max-width: 640px) {
  .tabs__link {
    font-size: 16px;
    padding: 6px;
  }

  .viewer {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .tabs {
    height: 50px;
  }

  .tabs__link {
    font-size: 12px;
  }

  .info__grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-block__title {
    font-size: 30px;
  }

  .info__column:first-child {
    border-right: none;
  }
  .info__text {
    text-align: center;
  }

  .info__phone {
    text-align: center;
  }
}

@media (max-width: 360px) {
  .services .container {
    max-width: 100%;
    padding: 0px 18px;
  }

  .services {
    padding: 30px 0;
  }

  .tabs {
    height: 44px;
  }

  .tabs__link {
    font-size: 8px;
    line-height: normal;
    font-weight: 400;
  }

  .info-block__title {
    font-size: 24px;
  }

  .info-block {
    margin: 0;
  }
  .info {
    padding: 0 1px;
  }

  .info__grid {
    padding: 17px 0;
  }
  .info__title {
    font-size: 27px;
    margin-bottom: -8px;
    margin: -6px 0;
  }

  .info__text {
    font-size: 15px;
  }
  .info__content {
    gap: 0;
  }

  .info__time {
    font-size: 24px;
    margin: 0;
  }

  .info__social-link {
    width: 30px;
    height: 30px;
  }

  .info__social {
    margin-top: -6px;
  }
  .info__column:first-child {
    border-right: none;
  }
}
