.feed {
  background: rgb(44, 44, 44);
  padding: 70px 0 70px 0;
}

.reviews__formButtonRew_valid {
  background: #c9a96e;
  color: #fff;
}

.container.feeds {
  height: 100%;
}

.feed__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1100px;
}

/*.feed__content {
  flex: 0 1 50%;
}*/

.feed__title {
  white-space: nowrap;
  color: #998865;
  font-family: "Lora";
  font-size: 50px;
  line-height: 89.6px;
  font-weight: 400;
}

.feed__subtitle {
  color: #bababa;
  font-family: "Lora";
  font-size: 18px;
  line-height: 30.7px;
  margin-top: 10px;
  margin-bottom: 18px;
  max-width: 330px;
}

.feed__image {
  border-radius: 50%;
  /* overflow: hidden;
  position: relative;*/
}

.feed__photo {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 1700px) {
  .feed__photo {
    width: 380px;
    height: 380px;
  }
}

@media screen and (max-width: 1300px) {
  .feed__image {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 380px;
    height: 380px;
  }
}

@media screen and (max-width: 1200px) {
  .feed__photo {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .feed__photo {
    width: 250px;
    height: 250px;
  }
}

/* Form */
.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 38px;
}

.form__label {
  display: block;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: "Lora";
  font-size: 18px;
  line-height: 33.28px;
  margin-bottom: 20px;
}

.comments-form-warning {
  background: #5ad84a;
  margin-top: 10px;
  color: white;
  display: none;
  text-align: center;
  padding: 7px 7px;
}

.comments-form-warning__text {
  max-width: 486px;
}
.form__input {
  width: 110%;
  height: 55px;
  padding: 0 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-family: "Lora";
  color: rgb(255, 255, 255);
  border: 1px solid rgb(133, 131, 131);
  background-color: rgb(44, 44, 44);
  font-size: 17px;
  font-weight: lighter;
}

.form__input:focus {
  outline: none;
  background: rgb(34, 33, 33);
}

.form__input::placeholder {
  color: rgb(255, 255, 255);
  font-family: "Lora";
  font-size: 18px;
  font-weight: 400;
  opacity: 0.7;
}

.form__input_placholder-color::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.registration__formRegisterButton_valid {
  background: #1a07c5;
  color: #fff;
}

.reviews__input_type_errors {
  border: 1px solid #ff0000;
}

.form__input_type_errors {
  border: 1px solid #ff0000;
}

.success-message {
  background: #5ad84a;
  margin-top: 10px;
  color: white;
  display: none;
  text-align: center;
  padding: 7px 7px;
  max-width: 350px;
}

.timer-message {
  background: #5ad84a;
  margin-top: 10px;
  color: white;
  display: none;
  text-align: center;
  padding: 7px 7px;
  max-width: 350px;
}

.procedures__message-error {
  display: none;
  background: white;
  color: red;
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  /* padding-left: 25px; */
  padding-top: 10px;
  text-align: center;
}

.form__button {
  width: 250px;
  height: 50px;
  background-color: #c9a96e;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: "Lora";
  line-height: 0px;
  font-size: 32px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.form__button:hover {
  background-color: #b69459;
}

.registration__formRegisterButton_disabled {
  border: 1px solid #9c8d8d;
  background-color: #ffffff;
  color: #494646;
  background: #fae6e6;
  cursor: none;
}

.registration__formRegisterButton_disabled:hover {
  background-color: #ffffff;
}

.errors {
  color: red;
  display: block;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  /* padding-left: 25px;*/
  padding-top: 5px;
  /* position: absolute;
    top: 56px;
    left: -20px;*/
}
