.main.wh {
  background-color: #fff;
  background-color: #e8e8e8;
  padding-bottom: 100px;
}

.main__title {
  text-align: center;
  font-family: Lora;
  font-size: 50px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #454545;
  padding-bottom: 60px;
}
.main__link {
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  font-family: Lora;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;
}
.services {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  /*display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding-bottom: 30px;*/
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  gap: 10px;
}

.services__img {
  max-width: 100%;
}
.services__btn {
  width: 100%;
  height: 50px;
  background-color: #ccaf62;
  font-family: Lora;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.services__title {
  font-family: Lora;
  font-size: 28px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #454545;
}

.services-arrow {
  display: none;
}

.loyalty {
  margin: 0 auto;
  width: 100%;
}
.loyalty__title {
  padding-top: 60px;
  font-family: Lora;
  font-size: 76px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #454545;
}
/*.loyalty__proposal {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  border: solid 3px #cdaf62;
  background-color: #e8e8e8;
}*/
.loyalty__proposal .proposal {
  min-width: 35%;
  margin: 50px 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.proposal__title {
  font-family: Lora;
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #998865;
}
.proposal__discount {
  display: flex;
  gap: 37px;
  align-items: center;
}
.summ {
  font-family: Lora;
  font-size: 105px;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #cdaf62;
}
.descript {
  font-family: Lora;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}
.proposal__text {
  font-family: Lora;
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #5d5d5d;
  padding-bottom: 40px;
}
.proposal__btn {
  width: 278px;
  height: 50px;
  background-color: #ccaf62;
  font-family: Lora;
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.proposalImg {
  width: 50%;
}

.main__certificate {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__certificate .imgSert {
  max-width: 100%;
  margin: 0 auto;
  /*padding-left: 10px;*/
  border: 3px solid #cdaf62;
}

.titleSert {
  font-family: Lora;
  font-size: 76px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #454545;
  padding-bottom: 30px;
}
.descrSert {
  width: 60%;
  font-family: Lora;
  font-size: 36px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #454545;
  padding-bottom: 60px;
}
.imgSert {
  width: 900px;
  height: 530px;
}

.connect {
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
}
.connect__btn {
  width: 371px;
  height: 50px;
  background-color: #ccaf62;
  font-family: "Lora";
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.connect__descr {
  font-family: Lora;
  font-size: 40px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);

  font-family: Lora;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 454px;
}

.loyalty {
  margin: 0 auto;
  width: 100%;
}
.loyalty__title {
  padding-top: 60px;
  font-family: Lora;
  font-size: 76px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #454545;
}
.loyalty__proposal {
  margin-top: 70px;
  max-width: 1620px;
  display: flex;
  justify-content: space-between;
  border: solid 3px #cdaf62;
  background-color: #e8e8e8;
}
.proposal {
  max-width: 50%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.proposal__discount {
  display: flex;
  gap: 37px;
  align-items: center;
}
.proposal__discount .summ {
  font-family: Lora;
  font-size: 80px;
  font-weight: normal;
  line-height: 1.1;
  letter-spacing: normal;
  text-align: left;
  color: #cdaf62;
}
.proposal__discount .descript {
  font-family: Lora;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #5d5d5d;
}
.loyalty__title__text {
  font-family: Lora;
  font-size: 32px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  padding-bottom: 40px;
}
.loyalty__title__btn {
  width: 378px;
  height: 91px;
  background-color: #ccaf62;
  font-family: Lora;
  font-size: 48px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}
.proposalImg {
  width: 50%;
}
